@model Sauraav_POE_CLDV.Models.rentalModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>rentalModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="returnID" class="control-label"></label>
                <input asp-for="returnID" class="form-control" />
                <span asp-validation-for="returnID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inspectorNo" class="control-label"></label>
                <input asp-for="inspectorNo" class="form-control" />
                <span asp-validation-for="inspectorNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateReturn" class="control-label"></label>
                <input asp-for="dateReturn" class="form-control" />
                <span asp-validation-for="dateReturn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="daysElapsed" class="control-label"></label>
                <input asp-for="daysElapsed" class="form-control" />
                <span asp-validation-for="daysElapsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fineValue" class="control-label"></label>
                <input asp-for="fineValue" class="form-control" />
                <span asp-validation-for="fineValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
