@model Sauraav_POE_CLDV.Models.rentalModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>rentalModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="rentalID" />
            <div class="form-group">
                <label asp-for="carNo" class="control-label"></label>
                <input asp-for="carNo" class="form-control" />
                <span asp-validation-for="carNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inspectorNo" class="control-label"></label>
                <input asp-for="inspectorNo" class="form-control" />
                <span asp-validation-for="inspectorNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="driver" class="control-label"></label>
                <input asp-for="driver" class="form-control" />
                <span asp-validation-for="driver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rentalFee" class="control-label"></label>
                <input asp-for="rentalFee" class="form-control" />
                <span asp-validation-for="rentalFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateStart" class="control-label"></label>
                <input asp-for="dateStart" class="form-control" />
                <span asp-validation-for="dateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateEnd" class="control-label"></label>
                <input asp-for="dateEnd" class="form-control" />
                <span asp-validation-for="dateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
