<!--Sauraav Jayrajh-->
<!--ST10024620-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sauraav_POE_CLDV</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/Sauraav_POE_CLDV.styles.css" />
    <link href="~/css/lux.css" rel="stylesheet" />
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/Images/Web_BG.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        .footer {
            color: white;
            border-bottom: none;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .transparent_background {
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 10px;
            padding: 20px;
        }

        .fit-image {
            max-width: 100%;
            max-height: 100%;
        }

        .navbar-nav .nav-link {
            color: white;
        }

            .navbar-nav .nav-link:hover {
                color: hotpink;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg transparent_background">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/images/the_ride_you_rent_logo.png" class="fit-image" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="carTableModels" asp-action="Index">Cars</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="driverModels" asp-action="Index">Drivers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="inspectorModels" asp-action="Index">Inspectors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="rentalModels" asp-action="Index">Rentals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="returnTableModels" asp-action="Index">Returns</a>
                        </li>
                    </ul><a asp-controller="Login_Register" asp-action="Index"><button type="button" class="btn btn-warning">Log In/Register</button></a>

                </div>
            </div>
        </nav>
    </header>
    <br />
    <footer class="footer">
        <div class="container">
            <br />
            &copy; 2023 - The Ride You Rent - <a href="#">By Sauraav Jayrajh</a>
        </div>
    </footer>
    <br />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
