@page
<!--Sauraav Jayrajh-->
<!--ST10024620-->
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1 style="color:white">@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link" style="color:white">Click here to Logout</button>
            </form>
        }
        else
        {
            <pstyle ="color:white">You have successfully logged out of the application.</pstyle>
        }
    }
</header>
