@page
<!--Sauraav Jayrajh-->
<!--ST10024620-->
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 style="color:white">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p style="color:white">
            <a id="confirm-link" href="@Model.EmailConfirmationUrl" style="color:white">Click here to confirm your account</a>
        </p>
    }
    else
    {
        <p style="color:white">
            Please check your email to confirm your account.
        </p>
    }
}

