<!--Sauraav Jayrajh-->
<!--ST10024620-->
@model Sauraav_POE_CLDV.Models.driverModel
@{
    ViewData["Title"] = "Delete";
}
<style>
    h1,
    h3,
    h4,
    a,
    .form-check-label,
    .col-form-label {
        color: white;
    }

    dl.row {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        color: white;
        padding: 10px;
    }

    dt.col-sm-2 {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .center {
        text-align: center;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-group {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        color: white;
        padding: 10px;
    }
</style>

<h1 class="center">Delete</h1>

<h3 class="center">Are you sure you want to delete this?</h3>
<div>
    <h4 class="center">From The Driver Table</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Driver Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.driverName)
        </dd>
        <dt class="col-sm-2">
            Driver Address:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.driverAddress)
        </dd>
        <dt class="col-sm-2">
            Driver Email:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.driverEmail)
        </dd>
        <dt class="col-sm-2">
            Driver Phone Number:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.driverMobile)
        </dd>
    </dl>

    <form asp-action="Delete" class="center">
        <input type="hidden" asp-for="driverID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
