@model Sauraav_POE_CLDV.Models.inspectorModel
@{
    ViewData["Title"] = "Create";
}
<style>
    h1,
    h4,
    a,
    .form-check-label {
        color: white;
    }

    .form-group {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        color: white;
        padding: 10px;
    }

    label.control-label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .center {
        text-align: center;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>
<h1 class="center">Create</h1>
<h4 class="center">Add an Inspector to the Database</h4>
<hr />
<div class="form-container">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="inspectorNo" class="control-label">Inspector Number:</label>
                <input asp-for="inspectorNo" class="form-control" />
                <span asp-validation-for="inspectorNo" class="text-danger"></span>
                <br />
                <label asp-for="inspectorName" class="control-label">Inspector Name:</label>
                <input asp-for="inspectorName" class="form-control" />
                <span asp-validation-for="inspectorName" class="text-danger"></span>
                <br />
                <label asp-for="inspectorEmail" class="control-label">Inspector Email:</label>
                <input asp-for="inspectorEmail" class="form-control" />
                <span asp-validation-for="inspectorEmail" class="text-danger"></span>
                <br />
                <label asp-for="inspectorMobile" class="control-label">Inspector Mobile:</label>
                <input asp-for="inspectorMobile" class="form-control" />
                <span asp-validation-for="inspectorMobile" class="text-danger"></span>
                <br />
                <div class="center">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <br>

            </div>
        </form>
    </div>
</div>
<br />
<div class="center">
    <button style="visibility:hidden">
    </button>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


